<!doctype html>
<html lang="zh-cmn">
<head>
  <meta charset="utf-8">
  <title><%= fontName %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cleartype" content="on">
  <link href="css/<%= fontName %>.css" rel="stylesheet">
 
    
  <style>
    body { font-family: Gill Sans; text-align: center; background: #f7f7f7 }
    body > h1 { color: #666; margin: 1em 0 }
    .glyph { padding: 0 }
    .glyph > li { display: inline-block; margin: .3em .2em; width: 5em; height: 6.5em; background: #fff; border-radius: .5em; position: relative }
    .glyph > li .nv { display: block; margin-top: .1em; line-height: 0 }
    .glyph-name { font-size: .8em; color: #666; display: block }
    .glyph-codepoint { color: #999; font-family: monospace }
  </style>
  </head>
  <body>
    <h1><%= fontName %></h1>
    <ul class="glyph"><% _.each(glyphs, function(glyph) { %>
      <li>
        <i class="<%= className %> <%= className %>-<%= glyph.name %> <%= className %>-4x"></i>
        <span class="glyph-name"><%= glyph.name %></span>
        <span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
      </li><% }); %>
    </ul>
  </body>
</html>